*{
    margin: 0;
    padding: 0;
}
.table-container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table{
    width: 50%;
    border-spacing: 5px;
}
td{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 100ms;
}
td:hover{
    scale: 1.1;
}
