*{
    margin: 0;
    padding: 0;
}
.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table{
    width: 80%;
    border-spacing: 5px;
}
td{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 12px;
    width: 30px;
    height: 30px;
}